* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --font-family: Monospace;
  --background-container: linear-gradient(
    330deg,
    #7d0928,
    #8d1c24,
    #9d2c1d,
    #ab3c11,
    #b84c00,
    #c45e00,
    #cf6f00,
    #d88200,
    #df9500,
    #e4a900,
    #e7bd00,
    #e8d103
  );
  --background-game: #005e88;
  --background-hover: #004c6d;
  --text-color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-container);
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--background-game-board);
  padding: 1rem 0;
}

.container h1 {
  font-family: var(--font-family);
  font-size: 2.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.reset {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  background: var(--background);
  border: none;
  border-radius: 0.5rem;
  padding: 0.825rem 0.825rem;
  text-transform: uppercase;
  cursor: pointer;
}

.reset:hover {
  background: var(--background-hover);
  transform: scale(1.05);
}

.game {
  width: 26.87rem;
  height: 26.87rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  transform-style: preserve-3d;
  perspective: 31.25rem;
}

.item {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f19959;

  font-size: 2rem;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #500101;
  /* opacity: 0.85; */
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}

